@import url('cabinet-grotesk.css');

* {
    margin: 0;
    padding: 0;
}

html{
    margin:0px;
    color:#000;
    font-family: General Sans;
    font-size: 35px;
    font-style: normal;
    line-height:normal;
    box-sizing: border-box;
    background: #F2F2F2;
}

section{
    display: block;
}
/*Header styles*/
header{
    position: fixed;
    display: flex;
    top:-2%;
    justify-content: space-around;
    z-index: 10000;
    background-color: #f2f2f2;
    overflow: hidden;
}

.logo_and_time{
    width:60vw;
    display:flex;
    margin: 0;
    padding: 0;
}

.logo{
    width:188px;
    height: 78px;
    flex-shrink: 0;
    margin: 39px 0 0 35px;
    transform: scale(0.7);
}
.time{
    font-weight: 500;
    display: flex;
    margin-top: 54px;
    margin-left: 86px;
    transform: scale(0.7);
}

nav{
    font-weight: 500;
}
nav > ul{
    display:flex;
    flex-direction: row;
    width: 35vw;
    justify-content: space-around;
    margin-top:54px;
    margin-left: 120px;
    transform: scale(0.7);
}

nav li{
    list-style-type: none;
}
nav a{
    color:#000;
    text-decoration: none;
}
button{
    font-size:35px;
    padding:6px 51px;
    border-radius: 1rem;
    background-color: #cac7bf;
    font-weight:500;
    border:none;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink {
    animation: blink 1s infinite;
}
/*Welcome*/
.welcome-section{
    display:flex;
    height:100vh;
}
.name{
    font-weight: 600;
    font-size: 225px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the element */
    overflow: hidden;
    white-space: nowrap;
}

#layer1, #layer2,#layer3,#layer4 {
    opacity:0;
}

#layer3 {
    z-index: 2;
}
#layer4{
    z-index: 1;
}
.linear-stroke-bot{
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 70% , rgba(0, 0, 0, 0) 100%);
    background-size:100% 100%;
    text-transform: capitalize;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
}
.linear-stroke-top {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
    background-size: 100% 100%;
    text-transform: capitalize;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
}

.scroll{
    position:absolute;
    font-family: 'CabinetGrotesk-Variable';
    top:92%;
    left:50%;
    right:50%;
    font-size: 0.6rem;
    opacity: 1;
    background-color: transparent;
    z-index: -1;
}
/*About*/

.about {
}
.bio{
    line-break: auto;
    margin:0 0 0 10vh;
    overflow: hidden;
    font-weight: 500;
    letter-spacing: -.03em;
    font-size: 115px;
    color: #d1d1c7;
}
.description{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:3%;
}
.half-circle {
    width: 30px; 
    height: 15px; 
    background-color: #8c8c73; 
    border-radius: 0 0 50px 50px;
    display:inline-block;
}
#about-me{
    margin-left:20px;
    margin-right:20px;
    font-size:150px;
    font-weight: 500;
    color: #8c8c73;
}
.image-container {
    width: 820px;
    height: 1100px;
    background-image: url("photos/portfolio.png");
    background-position: center up; 
    background-size: cover; 
    overflow: hidden;
    border-radius: 10px;
    clip-path: polygon();
}
/*
PROJECT CAN BE LAYER LIKE
XO
OX
XO
OX
XO
OX
Then it will zoom and fill the screen then after scroll to the end change to another project
 */
